{
  "presets": [
    ["env", {
      "targets": {
        "electron": "1.4"
      },
      "useBuiltIns": true
    }],
    "react",
    "stage-3"
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-class-properties",
    "transform-es2015-classes",
    "react-hot-loader/babel"
  ]
}
