env:
  browser: true
  es6: true
  node: true
extends: airbnb
plugins:
  - react
  - jsx-a11y
  - import
rules:
  react/jsx-filename-extension: off
  comma-dangle: [error, never]
  semi: [error, never]
